.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  &-content {
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
