.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  >div {
    min-height: 100vh;
  }
  &-content {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
