.jobs {
  text-align: center;
  padding: 75px 50px;
  color: var(--maltem_white);
  background-size: cover !important;
  &-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--maltem_white);
    color: var(--maltem_black);
    padding: 50px;
    &-close {
      border: 0;
      background-color: transparent;
      font-size: 2em;
      position: absolute;
      right: 50px;
      cursor: pointer;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      &-name {
        text-align: left;
        &:after {
          background: none repeat scroll 0 0 var(--maltem_red);
          content: "";
          display: block;
          height: 5px;
          position: relative;
          width: 100px;
        }
      }
      &-apply {
        background: var(--maltem_red);
        padding: 10px 20px;
        margin: 2px 4px;
        font-size: 1em;
        color: var(--maltem_white);
        border: 0;
        box-shadow: none;
        border-radius: 5px;
        transition: padding linear .1s, margin linear .1s;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          transition: padding linear .1s, margin linear .1s;
          padding: 12px 24px;
          margin: 0;
        }
      }
    }
  }
  &-title {
    text-align: left;
    margin-left: 2vw;
  }
  &-list {
    margin-bottom: 80px;
    &-item {
      box-shadow: none;
      border: 0;
      font-family: MaltemSecondFont;
      &:focus {
        outline-width: 0;
      }
      &:hover {
        cursor: pointer;
        font-size: 2.5vw;
      }
      color: var(--maltem_black);
      text-align: center;
      font-size: 2vw;
      height: 15vw;
      width: 15vw !important;
      margin-left: 4vw;
      background-color: rgba(255, 255, 255, .9);
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: font-size 0.05s linear;
    }
  }
  .slick-next:before {
    content: '\25b6';
  }
  .slick-prev:before {
    content: '\25C0';
  }
  .slick-dots {
    bottom: -70px;
    li button:before, li.slick-active button:before {
      color: var(--maltem_red);
      font-size: 15px;
    }
  }
}
