.library {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  img {
    width: 49vw;
    height: auto;
    &:first-child {
      transform: rotate(-10deg);
    }
    &:last-child {
      transform: rotate(12deg);
    }
  }
}