.slide-services {
  width: 30vw;
  height: 30vw;
  margin-left: 20vw;
  margin-bottom: -10vw;
  text-align: center;
  .slide-content {
    width: 30vw;
    height: 30vw;
    z-index: 1;
    .service {
      &-wrapper {
        padding: 20px 20px 50px 20px;
        background-color: var(--maltem_grey);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      &-title {
        margin-top: 30px;
      }
      &-item {
        font-size: 2vw;
        color: var(--maltem_red);
      }
    }
  }
}