.slide-welcome {
  @keyframes display {
    from {
      margin-top: 100vh;
    }
    to {
      margin-top: 50px;
    }
  }

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: start;
  align-content: flex-start;

  .welcome {
    padding: 50px;
    font-size: 1.5em;
    &-typing {
      text-align: left;
      .Cursor {
        color: var(--maltem_red);
      }
    }
    &-red {
      color: var(--maltem_red);
    }
    text-align: center;
    h1 {
      font-family: MaltemSecondFont;
      animation: display 2s;
      font-size: 3em;
    }
    &-image {
      max-width: 80vw;
      max-height: 80vh;
    }
    p {
      margin-top: 0;
    }
  }
}
