@keyframes show {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}

.slide-expertise {
  background-color: #FFFFFF;
  padding: 50px;
  .expertise {
    &-title {
      font-family: MaltemSecondFont;
      text-align: left;
      margin-bottom: 100px;
    }
    .hashtags {
      text-align: center;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: space-evenly;
      &-item {
        width: 15%;
        padding: 20px;
        font-size: 1em;
        &-image {
          width: 14vw;
          height: 14vw;
        }
        &-hashtag {
          font-size: 1.2em;
          color: var(--maltem_red);
        }
      }
    }
  }
}