.hide{
  top: -100px !important;
}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  transition: top .5s;
  color: #FFFFFF;
  &-scroll {
    width: 100%;
    height: 4px;
    &-indicator {
      background-color: var(--maltem_red);
      height: 4px;
    }
  }
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0 30px 0 30px;
    margin: 0;
    li {
      margin-right: 40px;
    }
  }
  &-logo {
    max-height: 50px;
    margin-top: 6px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}