@keyframes fixed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  z-index: 9;
  color: var(--maltem_black);
  background-color: var(--maltem_grey);
  width: 100%;
  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    > *:hover {
      color: var(--maltem_red);
    }
    :first-child {
      padding-left: 20px;
    }
    :last-child {
      padding-right: 20px;
    }
  }
  &-scroll {
    width: 100%;
    height: 4px;
    &-indicator {
      background-color: var(--maltem_red);
      height: 4px;
    }
  }
  &-logo {
    height: 70px;
    margin-top: 6px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.header-fixed {
  position: fixed;
  animation-fill-mode: forwards;
  animation-name: fixed;
  animation-duration: 1s;
}