@keyframes fixed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  font-size: .8em;
  z-index: 9;
  color: var(--maltem_black);
  background-color: var(--maltem_grey);
  width: 100%;
  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    > * {
      margin-left: 20px;
      &:hover {
        color: var(--maltem_red);
      }
    }
    :first-child {
      margin-left: 0;
      padding-left: 20px;
    }
    :last-child {
      padding-right: 20px;
    }
  }
  &-scroll {
    width: 100%;
    height: 4px;
    background: transparent;
    &-indicator {
      background-color: var(--maltem_red);
      height: 4px;
    }
  }
  &-logo {
    height: 70px;
    margin-top: 6px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
.header-fixed {
  position: fixed;
  animation-fill-mode: forwards;
  animation-name: fixed;
  animation-duration: 1s;
}
.header-handler {
  display: none;
}

@media only screen and (max-width : 750px) {
  .header {
    &-logo {
      height: 20vw;
    }
    &-handler {
      font-size: 5vw;
      display: block;
      position: fixed;
      top: 20px;
      left: 20px;
      border: 1px solid var(--maltem_grey);
      border-radius: 5px;
      padding: 10px;
      background-color: var(--maltem_white);
      cursor: pointer;
      z-index: 99999;
    }
    .show {
      display: flex;
      html, body {
        overflow-y: hidden;
      }
    }
    .hide {
      display: none;
      html, body {
        overflow-y: auto;
      }
    }
    background-color: var(--maltem_white);
    &-content {
      overflow: auto;
      font-size: 5vw;
      border-right: 1px solid var(--maltem_grey);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: var(--maltem_white);
      z-index: 9999;
      padding: 70px 70px 70px 30px;
    }
  }
}