.philosophy {
  background-color: var(--maltem_grey);
  &-header {
    padding: 2vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover !important;
    &-title {
      color: var(--maltem_white);
      text-align: left;
    }
    &-anchor {
      margin-bottom: 10vw;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    &-item {
      width: 30vw;
      margin-top: -10vw;
      padding: 0 2vw;
      overflow: hidden;
      min-height: 30vw;
      &:first-child {
        background-color: var(--maltem_white);
        .philosophy-content-item-title {
          margin-top: -10vw;
        }
      }
      &:nth-child(even) {
        margin-left: 10vw;
        .philosophy-content-item-row {
          flex-direction: row;
        }
      }
      &:nth-child(odd) {
        margin-left: 60vw;
      }
      &-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
      }
      &-title {
        z-index: 8;
        font-size: 5vw;
        width: 15vw;
        &-red {
          color: var(--maltem_red);
        }
      }
      &-image {
        width: 25vw;
        margin-left: -10vw;
      }
      &-description {
        text-align: justify;
        font-size: 2vw;
        margin-top: -2vw;
        padding-bottom: 1vw;
      }
    }
    &-item:not(:first-child) {
      margin-top: -15vw;
    }
  }
  &-last-image {
    overflow: visible;
    margin-bottom: -10vw;
    height: 30vw;
    padding: 0;
    padding-top: 1vw;
    background-color: var(--maltem_yellow);
    display: flex;
    align-items: flex-end;
    img {
      margin-bottom: -1px;
      margin-left: 5vw !important;
      width: 30vw;
    }
  }
}