.philosophy {
  background-color: var(--maltem_grey);
  &-header {
    padding: 50px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover !important;
    &-title {
      color: var(--maltem_white);
      text-align: left;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    &-item {
      width: 30vw;
      margin-top: -50px;
      padding: 50px 20px;
      overflow: hidden;
      &:first-child {
        background-color: var(--maltem_white);
      }
      &:nth-child(even) {
        margin-left: 10vw;
      }
      &:nth-child(odd) {
        margin-left: 60vw;
      }
      &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
      }
      &-title {
        font-size: 3em;
        &-red {
          color: var(--maltem_red);
        }
      }
      &-image {
        width: 50%;
      }
      &-description {

      }
    }
  }
  &-last-image {
    height: 30vw;
    width: 30vw;
    margin-left: 10vw;
    margin-bottom: -110px;
    background-color: var(--maltem_yellow);
    display: flex;
    align-items: flex-end;
    img {
      margin-bottom: -1px;
      margin-left: 50px;
      max-width: 100%;
      max-height: 100%;
    }
  }
}