.philosophy {
  background-color: var(--maltem_grey);
  &-header {
    padding: 50px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover !important;
    &-title {
      color: var(--maltem_white);
      text-align: left;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    &-item {
      width: 30vw;
      margin-top: -150px;
      padding: 50px 20px;
      overflow: hidden;
      &:first-child {
        background-color: var(--maltem_white);
        .philosophy-content-item-title {
          margin-top: -150px;
        }
      }
      &:nth-child(even) {
        margin-left: 10vw;
        .philosophy-content-item-row {
          flex-direction: row;
        }
        img {
          margin-left: -20%;
        }
      }
      &:nth-child(odd) {
        margin-left: 60vw;
        .philosophy-content-item-row {
          flex-direction: row-reverse;
        }
        img {
          margin-right: -20%;
        }
      }
      &-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
      }
      &-title {
        z-index: 8;
        font-size: 3em;
        &-red {
          color: var(--maltem_red);
        }
      }
      &-image {
        width: 70%;
      }
      &-description {
        text-align: justify;
      }
    }
    &-item:not(:first-child) {
      margin-top: -250px;
    }
  }
  &-last-image {
    width: 30vw;
    margin-left: 10vw;
    margin-bottom: -110px;
    padding-top: 50px;
    background-color: var(--maltem_yellow);
    display: flex;
    align-items: flex-end;
    img {
      margin-bottom: -1px;
      margin-left: 50px;
      max-width: 100%;
      max-height: 100%;
    }
  }
}