:root {
  --maltem_red: rgb(209, 42, 60);
  --maltem_black: rgb(17, 17, 17);
  --maltem_white: #FFFFFF;
  --maltem_grey: #E8E8E8;
  --maltem_yellow: rgb(255, 233, 173);
}

@font-face {
  font-family: MaltemFont;
  src: url('./assets/font/Crystal.ttf');
}
@font-face {
  font-family: MaltemSecondFont;
  src: url('./assets/font/Vanadine Regular.ttf');
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--maltem_white);
  overflow-x: hidden;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  width: 5px;
  border-left: 1px solid var(--maltem_grey);
  &:before {
    background-color: var(--maltem_red);
  }
}
::-webkit-scrollbar-thumb {
  background: var(--maltem_red);
}

#app {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  font-family: "MaltemFont";
  background-color: var(--maltem_white);
}

#app, #app-content, #app > div {
  height: 100%;
}

#popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--maltem_white);
  z-index: 9999;
}
.popup-show {
  display: block;
}
.popup-hide {
  display: none;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: MaltemSecondFont;
}

img {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@media (min-width: 1025px) {
  .main-title {
    padding-top: 50px;
  }
}

.decorate-title {
  &:after {
    background: none repeat scroll 0 0 var(--maltem_red);
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 100px;
    margin-top: 10px;
  }
  &-right {
    &:after {
      background: none repeat scroll 0 0 var(--maltem_red);
      content: "";
      display: block;
      height: 5px;
      width: 60%;
      margin-left: 40%;
      margin-top: 10px;
    }
  }
}

.main-title {
  text-align: center;
  font-size: 2.5em;
  color: var(--maltem_red);
  :after, :before {
    position: absolute;
    margin-top: 25px;
    overflow: hidden;
    height: 3px;
    content: '\a0';
    background-color: var(--maltem_red);
    width: 10%;
    margin-left: 3%;
  }
  :before {
    margin-left: -13%;
    text-align: right;
  }
}
